@{
    ViewBag.Title = "Inventario";
}
<main>
    <section class="center" id="card-section">
        <form class="campo-login" asp-controller="Functions" asp-action="Restock" method="post">
            <div style="justify-items:center;">
                <h3 class="EstadoStock">CRITICOS</h3><button type="submit" class="Bstock">RESTOCK</button>
            </div>
            <div class="CarrilInv">
                @foreach (var producto in ViewBag.ProductosCriticos)
                {
                    <div class="cardInv">
                        <p>@producto.NombreProducto</p>
                        <p>@producto.Proveedor</p>
                        <p>@(@producto.CantidadStock / 1000.0)</p>
                        <p>@producto.StockCritico</p>
                        <p>@producto.InformeDeStock</p>
                    </div>
                }
            </div>
        </form>
        <form class="campo-login " asp-controller="Functions" asp-action="Restock" method="post">
            <div style="justify-items:center;"><h3 class="EstadoStock">ACEPTABLE PARA EL USO</h3><button type="submit" class="Bstock">RESTOCK</button></div>
            <div class="CarrilInv">
                @foreach (var producto in ViewBag.ProductosAceptables)
                {
                    <div class="cardInv">
                        <p>@producto.NombreProducto</p>
                        <p>@producto.Proveedor</p>
                        <p>@(@producto.CantidadStock / 1000.0)</p>
                        <p>@producto.StockCritico</p>
                        <p>@producto.InformeDeStock</p>
                    </div>
                }
            </div>
        </form>
        <form class="campo-login " asp-controller="Functions" asp-action="Restock" method="post">
            <div style="justify-items:center;"><h3 class="EstadoStock">NUEVO</h3><button type="submit" class="Bstock">RESTOCK</button></div>
            <div class="CarrilInv">
                @foreach (var producto in ViewBag.ProductosNuevos)
                {
                    <div class="cardInv">
                        <p>@producto.NombreProducto</p>
                        <p>@producto.Proveedor</p>
                        <p>@(@producto.CantidadStock / 1000.0)</p>
                        <p>@producto.StockCritico</p>
                        <p>@producto.InformeDeStock</p>
                    </div>
                }
            </div>
        </form>
    </section>
</main>