@model EVA2TI_BarPinguino.Models.Finanzas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Finanzas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeDocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InformeDeStock">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
