
@{
    ViewBag.Title = "Consulta";
}
@model EVA2TI_BarPinguino.Models.Clientes;
<main>

    <form method="post" asp-action="Consulta" id="form-consulta">

        <div>
            <h1>Consulta</h1>
            <label for="txtRut">RUT:</label>
            <input type="text" id="rut" name="txtRut" oninput="activarBtn()" required />
            @if (ViewBag.Error != null)
            {
                <span>@ViewBag.Error</span>
            }
        </div>
        <div>
            <button id="btncon" type="submit">Consultar</button>
        </div>
    </form>

    @if (ViewBag.ShowModal == true)
    {
        <dialog open>
            <article>
                <header>
                    <p>
                        <strong>🗓️ Detalle de la Consulta</strong>
                    </p>
                </header>
                <p>
                    El RUT ingresado es: <strong>@ViewBag.UserList</strong>
                    <!-- Esto es en pro a modificar, Para mostrar todos los datos registrados, del cliente...-->
                </p>
                <ul>
                    <li>Rut: @Model.Rut</li>
                    <li>Nombre: @Model.Nombre</li>
                    <li>Apellido: @Model.Apellido</li>
                    <li>Frecuencia: @Model.Frecuente</li>
                </ul>
                <div>
                    <button onclick="window.location.href = '@Url.Action("Consulta", "Ventas")'">Volver</button>
                    <button onclick="window.location.href = '@Url.Action("Venta", "ProcesoVenta", new {clienterut = Model.Rut})'">Aceptar</button>
                </div>
            </article>
        </dialog>
    }
</main>
