@{
    ViewBag.Title = "Registro Consulta";
}
@model EVA2TI_BarPinguino.Models.Clientes;
<dialog open>
    <article>
        <header>
            <p>
                <strong>🗓️ Gracias Por Registrar</strong>
            </p>
        </header>
        <ul>
            <strong>Datos Registrados</strong>
            <li id="li-modal">Nombre: @Model.Nombre</li>
            <li id="li-modal">Apellido: @Model.Apellido</li>
            <li id="li-modal">Rut: @Model.Rut</li>
            <li id="li-modal">Frecuencia: @Model.Frecuente</li>
        </ul>

        <button type="button" onclick="window.location.href = '@Url.Action("Venta", "Ventas")'">Aceptar</button>
    </article>
</dialog>
