@{
    ViewData["Title"] = "Proveedores";
}
@model IEnumerable<Proveedores>

<div class="mobile-message">
    <h3>Por favor usar en modo escritorio</h3>
    <p>Esta vista solo está disponible para pantallas más grandes.</p>
</div>

<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">@ViewData["Title"]</h3>
        <ul>
            <partial name="_ReporteSidebar" />
        </ul>
    </div>
    <div class="content">
        <div class="grid">
            <form role="search">
                <input name="search" type="search" placeholder="Search" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <table class="sales-table">
            <thead>
                <tr>
                    <th scope="col">Empresa</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Giro</th>
                    <th scope="col">Datos Bancarios</th>
                    <th scope="col">Fono</th>
                    <th scope="col">Direccion</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var proveedor in Model)
                    {
                        <tr>
                            <td scope="row">@proveedor.RazonSocial</td>
                            <td>@proveedor.Rut</td>
                            <td>@proveedor.Giro</td>
                            <td>@proveedor.DatosBanco</td>
                            <td>@proveedor.Fono</td>
                            <td>@proveedor.Direccion</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" style="text-align: center">No se encontraron proveedores.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>