@{
    ViewData["Title"] = "Ventas del dia";
}
@model IEnumerable<Venta>

<div class="mobile-message">
    <h3>Por favor usar en modo escritorio</h3>
    <p>Esta vista solo está disponible para pantallas más grandes.</p>
</div>

<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">@ViewData["Title"]</h3>
        <ul>
            <partial name="_ReporteSidebar" />
        </ul>
    </div>
    <div class="content">
        <form class="grid">
            <input type="search" name="search" placeholder="Search" aria-label="Search" />
            <input type="date" name="date" aria-label="Date">
            <button class="outline contrast" style="height: fit-content" type="submit" value="Search">Filtrar</button>
        </form>
        <table class="sales-table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Ingreso</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var venta in Model)
                {
                    <tr>
                        <td scope="row">@venta.Fecha.ToString("dd/MM/yyyy")</td>
                        <td>@venta.CredencialVendedor</td>
                        <td>@venta.ClienteRut</td>
                        <td>@venta.Detalles</td>
                        <td>@venta.TotalDelPedido.ToString("C")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align: right"><strong>TOTAL</strong></td>
                    <td><strong>@Model.Sum(v => v.TotalDelPedido).ToString("C")</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>