@model IEnumerable<EVA2TI_BarPinguino.Models.Venta>


@{
    ViewData["Title"] = "Ventas";
}

<div class="mobile-message">
    <h3>Por favor usar en modo escritorio</h3>
    <p>Esta vista solo está disponible para pantallas más grandes.</p>
</div>

<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">@ViewData["Title"]</h3>
        <ul>
            <partial name="_MaestroSidebar" />
        </ul>
    </div>
    <div class="content">
        <div class="grid">
            <form role="search">
                <input name="search" type="search" placeholder="Search" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Detalles)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalDelPedido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario )
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Detalles)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalDelPedido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Rut)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.NumBoleta">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.NumBoleta">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.NumBoleta">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a role="button" asp-action="Create">Crear nuevo</a>
    </div>