@{
    ViewBag.Title = "Venta";
    int precio = 10000;
}
<main>
    <div id="main-venta">
    <h1>Venta</h1>
    <form method="post" asp-action="Venta">
        <div>
            <label for="txtProducto">Producto:</label>
            <input type="text" id="txtProducto" name="txtProducto" />
        </div>
        <div>
            <label for="txtCantidad">Cantidad:</label>
            <input type="number" id="txtCantidad" name="txtCantidad" />
        </div>
        <div>
            <button type="submit">Vender</button>
        </div>
    </form>
    <div>
        <h2>Detalle de la venta</h2>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            @if (ViewBag.producto != null)
            {
                precio *= @ViewBag.cantidad;
                <tbody>
                    <tr> 
                    <td>@ViewBag.producto</td> 
                    <td>@ViewBag.cantidad</td>
                    <td>$10000</td> 
                    <td>@precio</td>
                    </tr>
            </tbody>
            }
        </table>
    </div>
    </div>
    <div class="container" >
        <section class="overflow-auto" id="dv-detalle">
            <h2>Detalles</h2>
            <table role="grid">
                <tbody>
                    <tr>
                        <td><strong>VENDEDOR:</strong></td>
                        <td>VendedorPinguino</td>
                    </tr>
                    <tr>
                        <td><strong>CLIENTE:</strong></td>
                        <td>Cliente Pinguino</td>
                    </tr>
                    <tr>
                        <td><strong>PRODUCTOS:</strong></td>
                        <td>@ViewBag.producto</td>
                    </tr>
                    <tr>
                        <td><strong>DESCUENTO:</strong></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><strong>TOTAL:</strong></td>
                        <td>@precio</td>
                    </tr>
                </tbody>
            </table>
            <div class="grid">
                <button type="button" onclick="window.location.href = '@Url.Action("Venta", "Ventas")'">CANCELAR</button>
                <button type="button" onclick="window.location.href = '@Url.Action("Venta", "Ventas")'">PAGAR</button>
            </div>
        </section>
    </div>

    

</main>
