@model IEnumerable<EVA2TI_BarPinguino.Models.Clientes>

@{
    ViewData["Title"] = "Clientes";
}
<div class="mobile-message">
    <h3>Por favor usar en modo escritorio</h3>
    <p>Esta vista solo está disponible para pantallas más grandes.</p>
</div>

<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">@ViewData["Title"]</h3>
        <ul>
            <li>
                <a role="button" asp-action="Create">Crear nuevo</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="grid">
            <form role="search">
                <input name="search" type="search" placeholder="Search" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Frecuente)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Frecuente)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Rut">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Rut">Ver</a> |
                            <a asp-action="Delete" asp-route-id="@item.Rut">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>